<table class="table table-dark table-striped">
    <thead>
        <th>ID</th>
        <th>Init Odd</th>
        <th>Retry Odd</th>
        <th>Grow Odd</th>
        <th>Given Odd</th>
        <th>Trials</th>
        <th>Target</th>
    </thead>
    <tbody>
        {{#each data}}
            <tr onclick="openQuotation({{this.id}})" style="cursor: pointer;">
                <td>{{  this.id }}</td>
                <td>{{  this.initOdd }}</td>
                <td>{{  this.retryOdd }}</td>
                <td>{{  this.growOdd }}</td>
                <td>{{  this.odd }}</td>
                <td>{{  this.trial }}</td>
                <td>{{  this.target }}</td>
            </tr>
        {{/each}}
    </tbody>
</table>