<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
      <li class="list-group-item">Init: {{ initOdd }}</li>
      <li class="list-group-item">Odd: {{ odd }}</li>
      <li class="list-group-item">Retry: {{ retryOdd }}</li>
      <li class="list-group-item">Grow: {{ growOdd }}</li>
  </ul>
  <div class="card-footer">
    <a href="/quotations/{{id}}/create">
        <button type="button" class="btn btn-info">Create New Slip</button>
    </a>
  </div>
</div>