<table class="table table-dark table-striped">
    <thead>
        <th>Match</th>
        <th>Start Time</th>
        <th>Suggested</th>
        <th>Advice Odd</th>
        <th>Played Duration</th>

    </thead>
    <tbody>
        {{#each today}}
            <tr style="cursor: pointer;"  data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="suggestFixture({{this.fixtureId}})">
                <td>{{  this.game }}</td>
                <td>{{  this.time }}</td>
                <td>{{  this.suggestion }}</td>
                <td>{{  this.adviceOdd  }}</td>
                <td>{{  this.period }}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Suggestion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form method="POST" action="/fixtures/today">
          <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text">Suggestion</span>
                    <input type="text" class="form-control" name="suggestion" aria-label="Add Suggestion to Fixture">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Advice</span>
                    <input type="text" class="form-control" name="adviceOdd" aria-label="Add Advice Odd to Fixture">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Game ID</span>
                    <input type="text" class="form-control" name="fixtureId" aria-label="Fixture" id="fixtureId">
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </form>
    </div>
  </div>
</div>
